.display-great {
    display: none;
	}
	
	.display-medium {
	display: none;
	}
	.display-mini {
	display: none;
	}
	
	.menu {
	padding-left: 0;
	}
	
	.menu {
	display: inline;
	list-style-type: none;
	}
<style>
.lista-horizontal{
	background-color:black;padding:15px;border-radius:8px;
}
.lista-horizontal ul {
	list-style:none;margin:0;padding:0;display:flex;gap:25px;justify-content:flex-start;
}
.lista-horizontal a{text-decoration:none;color:white;font-family:sans-serif;font-weight:bold;
transition:color 0.3s, transform 0.2s;display:inline-block;
				   }
.lista-horizontal a:hover{
	color:#3498db;transform:translateY(-2px);
}
</style>
<style>
.segunda-lista{
	background-color:black;padding:15px;border-radius:8px;
}
.segunda-lista ul {
	list-style:none;margin:0;padding:0;display:flex;gap:25px;justify-content:flex-start;
}
.segunda-lista a{text-decoration:none;color:white;font-family:sans-serif;font-weight:bold;
transition:color 0.3s, transform 0.2s;display:inline-block;
				   }
.segunda-lista a:hover{
	color:#3498db;transform:translateY(-2px);
}
</style>




